body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.game-container{
  max-width: 600px;
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.color-grid{
  display: grid;
  
}

.color-box{
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ccc;
}